@import './Menu.css';

.colaboradores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.header {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.colaboradores-list {
  width: 100%;
  max-width: 800px;
}

.colaborador-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.colaborador-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.colaborador-info {
  font-size: 16px;
  margin-bottom: 5px;
}

.colaboradores-more-info-button {
  background-color: #4e9ec5;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.colaboradores-more-info-button:hover {
  background-color: #3a8bb5;
}
