@import './Menu.css';

.modificar-tareas-container {
    flex: 1;
    padding: 10px;
  }
  
  .modificar-tareas-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modificar-tareas-tarea-container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modificar-tareas-botones-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .modificar-tareas-button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modificar-tareas-modificar {
    background-color: #4e9ec5;
    color: #fff;
  }
  
  .modificar-tareas-eliminar {
    background-color: #ff6347;
    color: #fff;
  }
  
  .modificar-tareas-agregar {
    background-color: #4e9ec5;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
  }
  
  .modificar-tarea-form-container,
  .crear-tarea-form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .modificar-tarea-form-titulo,
  .crear-tarea-form-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .modificar-tarea-input,
  .crear-tarea-input {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #ccc;
  }
  
  .modificar-tarea-button,
  .crear-tarea-button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .modificar-tarea-guardar,
  .crear-tarea-guardar {
    background-color: #4CAF50; /* Verde para guardar */
  }
  
  .modificar-tarea-cancelar,
  .crear-tarea-cancelar {
    background-color: #f44336; /* Rojo para cancelar */
  }
  
  .crear-tarea-colaboradores-container {
    margin-bottom: 15px;
  }
  
  .crear-tarea-colaborador-button {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .crear-tarea-colaborador-button.selected {
    background-color: #4e9ec5;
    color: #fff;
  }
  
  .crear-tarea-label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  