@import './Menu.css';

.reuniones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.header {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.reuniones-list {
  width: 100%;
  max-width: 800px;
}

.reunion-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reunion-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reunion-info {
  font-size: 16px;
  margin-bottom: 5px;
}

.reuniones-options-button,
.create-reunion-button,
.go-to-forum-button {
  background-color: #4e9ec5;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.reuniones-options-button:hover,
.create-reunion-button:hover,
.go-to-forum-button:hover {
  background-color: #3a8bb5;
}

.create-reunion-button {
  background-color: #4caf50; /* Estilo diferente para el botón de crear reunión */
}

.create-reunion-button:hover {
  background-color: #45a049; /* Estilo diferente para el hover del botón de crear reunión */
}

.go-to-forum-button {
  background-color: #4caf50; /* Estilo diferente para el botón de ir al foro */
}

.go-to-forum-button:hover {
  background-color: #45a049; /* Estilo diferente para el hover del botón de ir al foro */
}
